doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/main.css')
    body
        .main
            .inner
                h1 Oops, an error occurred
                p.
                    Something went wrong... Would you mind trying again?

                a(href='/', class='btn') Try again?