doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/main.css')
    body
        .main
            .inner
                h1 Ooops, something went wrong..
                p Were all fields filled? Would you mind trying again?

                a(href='/', class='btn') Try again?