doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/main.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        .main
            .inner
                h1 Win a date with Tad Hamilton
                p.
                    By just answering these questions three,
                    you are competing for a date with Tad himself!

                form(method='post')
                    .question
                        p Which of the following CSS features is used to achieve small caps?
                        label
                            input(type='radio', name='answers[q1]', value='a')
                            span.option font-family
                        label
                            input(type='radio', name='answers[q1]', value='b')
                            span.option font-size
                        label
                            input(type='radio', name='answers[q1]', value='c')
                            span.option font-variant
                        label
                            input(type='radio', name='answers[q1]', value='d')
                            span.option text-transform
                    hr
                    .question
                        p Which of the following image formats is not supported by the HTML &lt;img&gt; tag?
                        label
                            input(type='radio', name='answers[q2]', value='a')
                            span.option SVG
                        label
                            input(type='radio', name='answers[q2]', value='b')
                            span.option PNG
                        label
                            input(type='radio', name='answers[q2]', value='c')
                            span.option JPEG
                        label
                            input(type='radio', name='answers[q2]', value='d')
                            span.option PSD
                    hr
                    .question
                        p After running this JavaScript code, what are the values of the variables b and c?
                        code.
                            var a = 4;
                            var b = 5;
                            var c = 6;
                            b = a + b * c;
                            c = b + c * a;
                        label
                            input(type='radio', name='answers[q3]', value='a')
                            span.option b is 54 and c is 240
                        label
                            input(type='radio', name='answers[q3]', value='b')
                            span.option b is 34 and c is 58
                        label
                            input(type='radio', name='answers[q3]', value='c')
                            span.option b is 34 and c is 29
                        label
                            input(type='radio', name='answers[q3]', value='d')
                            span.option b is 54 and c is 44
                    hr
                    .question
                        label.field
                            span.label Your name
                            input(type='text', name='name', class='text', required)
                        label.field
                            span.label Your E-mail
                            input(type='email', name='email', class='text', required)
                        button(type='submit', class='btn') Compete!
                    input(type='hidden', name='_csrf', value='#{csrfToken}')