doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/main.css')
    body
        .main
            .inner
                h1 Thank you for participating
                p.
                    We'll be in touch!

                a(href='/', class='btn') Answer again?